#throne {
    width:300px;
    height: 400px;
    position: absolute;
    right: 200px;
    bottom: -40px;
}

.header{
    background-image: url('./images/phone.jpg');
    height:70vh;
    position:relative;
}

@media (max-width: 600px) {
    #throne {
        right: 20px;
        bottom: -40px;
    }
}

#cloud {
    position: absolute;
    right: 60px;
    bottom: 250px;
    width:200px;
    height: 100px;
    animation: move1 2s infinite alternate;
}

#cloud2 {
    position: absolute;
    right: 450px;
    bottom: 250px;
    width:200px;
    height: 100px;
    animation: move2 2s infinite alternate;
}

#shar {
    position: absolute;
    right: 312px;
    bottom: 295px;
    width: 80px;
    height: 80px;
    animation: move3 2s infinite alternate;
}

.headers {
    font-family: Candara, sans-serif;
    text-decoration: none !important;
    color: #9A1516;
}

.headers:hover {
    color: #FF0000;
}

.logo {
    height: 100px;
    width: 70px;
}

.label {
    border: 5px solid #9A1516;
    color: #9A1516;
    width: 515px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 150px;
} 

h5 {
    display: inline;
}

#it{
    margin-left:110px;
}


@keyframes move {
    from { bottom: -40px; }
    to { bottom: 0px; }
}

@keyframes move1 {
    from { bottom: 250px; }
    to { bottom: 290px; }
}

@keyframes move2 {
    from { bottom: 250px; }
    to { bottom: 290px; }
}

@keyframes move3 {
    from { bottom: 295px; }
    to { bottom: 335px; }
}

.move {
    animation: move 2s infinite alternate;
}

.testaments {
    height: 100vh;
    background: #303033;
}

#testaments-header {
    padding-top: 130px;
    margin-bottom: 100px;
    color: #E1DFDB;
}

#firstTestament {
    height: 350px;
    width: 250px;
}

#secondTestament {
    height: 350px;
    width: 250px;
}

#sharinganBetween {
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
    width: 170px;
}

.prophets {
    height: 100vh;
    background: #E1DFDB;
}

.prophets-header {
    color: #303033;
    padding-top: 30px;
    padding-bottom: 40px;
}

#kisame {
    height: 300px;
    width: 300px;
    margin-top: 0px;
}

#shisui {
    width: 400px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
}

#brother {
    height: 300px;
    width: 300px;
    margin-top: 0px;
}

.prophets-mutual {
    display: inline-block;
}

.prophets-label {
    margin: 10px;
}

.comandments {
    height: 70vh;
    background: #303033;
}

#comandments-header {
    color: #E1DFDB;
    padding-top: 50px;
    padding-bottom: 50px; 
}

#comandments-list {
    color: #E1DFDB;
}

li{
    margin: 10px;
    font-size: 18px;
}

.logo2{
    height: 180px;
    width: 120px;
}

.list-bottom {
    list-style: none;
    padding-top: 100px;
}

.list-bottom li {
    margin: 0px;
    color: #303033;
    font-size: 15px;
}

.bottom {
    background: #E1DFDB;
    height: 300px;
}

body{
    background: #E1DFDB;
}

@media (max-width: 576px) { 
    .label {
        display:none; 
    }

    .header {
        background: #8B0000;
    }

    .headers {
        color: red;
    }

    .hide {
        display: none;
    }

    .testaments {
        height: 100%;
    }

    #secondTestament {
        margin-bottom: 50px;
    }

    .prophets {
        height: 100%;
    }

    #shisui {
        height: 300px;
        width: 300px;
    }

    .comandments {
        height: 100%;
    }
}

.my-modal {
    display: none;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.under {
    background-color: rgb(0,0,0); /* Затемнение фона */
    background-color: rgba(0,0,0,0.5); /* Полупрозрачное затемнение */
    z-index: 1; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.animation {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.mang {
    height: 140px;
    width: 140px;
    top: 0;
    position: absolute; 
}

#frame {
    width: 900px;
    height: 400px;
    margin-top: 150px;  
    position: absolute;
    top: 0;
    margin-left: -450px; 
    z-index: 63; 
}

#mang1 {
    margin-left: 368px; 
    margin-top: 275px;
    z-index: 20; 
}

#mang2 {
    margin-left: 273px; 
    margin-top: 275px;
    z-index: 45; 
}

